@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

#log-table {
  width: 100%;
  border-collapse: collapse;
}

#loggerSelect-td, #levelSelect-td {
  padding: 0px;
}

#levelSelect, #loggerSelect {
  text-align: left;
  direction: rtl;
  width: 100%;
}

#search-icon{
  margin-left: 5px;
}

th {
    font-weight: bold;
  text-align: left;
}

.millis {
    white-space: nowrap;
}

td {
  padding: .6em 1.5em .6em 1.5em;
  border-bottom: 1px solid #afafaf;
}

.notSearched{
  display: none;
}

.message, #search{
  width: 80%;
}

.SEVERE {
font-weight: bold;
    background-color: #f33;
}

.WARNING {
    background-color: #f88;
}

.CONFIG {
    font-family: 'Inconsolata', monospace;
    opacity: 0.75;
}

.FINER {
    opacity: 0.6;
}

.FINE {
    opacity: 0.75;
}

.FINEST {
    opacity: 0.4;
}

.Root\.Trains\.redTrain {
  color: #400;
}

.Root\.Trains\.blueTrain {
  color: #004;
}

.Root\.Trains\.greenTrain {
  color: #040;
}

.Root\.Trains\.cargoTrain {
  colo: #440;
}